In [ ]:
def get_ql_from_wrf_hydro(qlat_files, index_col="station_id", value_col="q_lateral"):
    """
    qlat_files: globbed list of CHRTOUT files containing desired lateral inflows
    index_col: column/field in the CHRTOUT files with the segment/link id
    value_col: column/field in the CHRTOUT files with the lateral inflow value

    In general the CHRTOUT files contain one value per time step. At present, there is
    no capability for handling non-uniform timesteps in the qlaterals.

    The qlateral may also be input using comma delimited file -- see
    `get_ql_from_csv`
    """

    li = []

    for filename in qlat_files:
        with xr.open_dataset(filename) as ds:
            df1 = ds.to_dataframe()

        li.append(df1)

    frame = pd.concat(li, axis=0, ignore_index=False)
    mod = frame.reset_index()
    ql = mod.pivot(index=index_col, columns="time", values=value_col)

    return ql

In [ ]:
if qlat_input_folder:
        qlat_files = glob.glob(qlat_input_folder + qlat_file_pattern_filter)
        qlat_df = nio.get_ql_from_wrf_hydro(
            qlat_files=qlat_files,
            index_col=qlat_file_index_col,
            value_col=qlat_file_value_col,
        )

In [ ]:
root = pathlib.Path("/", "content", "t-route")

        test_folder = pathlib.Path(root, "test")
        geo_input_folder = test_folder.joinpath("input", "geo")

    
    
        forcing_parameters["qlat_input_folder"] = os.path.join(
                root,
                "test/input/geo/NWM_2.1_Sample_Datasets/Pocono_TEST1/example_CHRTOUT/",
            )
            forcing_parameters["qlat_file_pattern_filter"] = "/*.CHRTOUT_DOMAIN1"

In [128]:
import glob
import pathlib 
import os 
import pandas as pd

qlat_file_index_col = "feature_id"
qlat_file_value_col = "q_lateral"

root = pathlib.Path("/", "t-route_fresh", "t-route")
usgs_timeslices_folder = os.path.join(
        root,
        "test/input/geo/nudgingTimeSliceObs/",
    )

usgs_file_pattern_filter = "*.usgsTimeSlice.ncdf"

usgs_files = glob.glob(usgs_timeslices_folder + usgs_file_pattern_filter)

# usgs_df = get_ql_from_wrf_hydro(
#     qlat_files=usgs_files,
#     index_col=qlat_file_index_col,
#     value_col=qlat_file_value_col,
# )

In [129]:
file_name = "2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf"
usgs_timeslices_folder + file_name

'/t-route_fresh/t-route/test/input/geo/nudgingTimeSliceObs/2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf'

In [131]:
import xarray as xr
usgs_files = glob.glob(usgs_timeslices_folder + file_name)
ds = xr.open_dataset("/home/jacob.hreha/github/t-route_fresh/t-route/test/input/geo/nudgingTimeSliceObs/" + file_name)
df = ds.to_dataframe()
df
# df.reset_index()
# df.set_index('stationId')

,stationId,time,discharge,discharge_quality,queryTime
stationIdInd,,,,,
0,b' 08158930',b'2020-03-19_18:00:00',-999999.000000,100,2020-03-19 18:00:00
1,b' 02336300',b'2020-03-19_18:00:00',-999999.000000,100,2020-03-19 18:00:00
2,b' 08086212',b'2020-03-19_18:00:00',-999999.000000,100,2020-03-19 18:00:00
3,b' 02215260',b'2020-03-19_18:00:00',252.019928,100,2020-03-19 18:00:00
4,b' 02439400',b'2020-03-19_18:00:00',58.899040,100,2020-03-19 18:00:00
...,...,...,...,...,...
3864,b' 00000417',b'2020-03-19_18:00:00',-999999.000000,100,2020-03-19 18:00:00
3865,b' 03353200',b'2020-03-19_18:00:00',9.202975,100,2020-03-19 18:00:00
3866,b' 02303000',b'2020-03-19_18:00:00',-999999.000000,100,2020-03-19 18:00:00
3867,b' 09386950',b'2020-03-19_18:00:00',0.000000,100,2020-03-19 18:00:00
3868,b' 05374000',b'2020-03-19_18:00:00',-999999.000000,100,2020-03-19 18:00:00

In [136]:
def get_usgs_from_wrf_hydro(qlat_files,index_col="stationIdInd",value_col="discharge"):
    """
    qlat_files: globbed list of CHRTOUT files containing desired lateral inflows
    index_col: column/field in the CHRTOUT files with the segment/link id
    value_col: column/field in the CHRTOUT files with the lateral inflow value

    In general the CHRTOUT files contain one value per time step. At present, there is
    no capability for handling non-uniform timesteps in the qlaterals.

    The qlateral may also be input using comma delimited file -- see
    `get_ql_from_csv`
    """

    li = []

    for filename in qlat_files:
        with xr.open_dataset(filename) as ds:
            df1 = ds.to_dataframe()

        li.append(df1)

    frame = pd.concat(li, axis=0, ignore_index=False)
    mod = frame.reset_index()
    usgs_df = mod.pivot(index="stationIdInd", columns="time", values=[value_col])

    return usgs_df

In [137]:
import glob, os
os.chdir("/home/jacob.hreha/github/t-route_fresh/t-route/test/input/geo/nudgingTimeSliceObs/")
usgs_files = glob.glob(file_filter)

usgs_df = get_usgs_from_wrf_hydro(
    qlat_files=usgs_files,
    index_col="stationIdInd",
    value_col="discharge",
)
usgs_df

                          discharge                         \
time         b'2020-03-19_18:00:00' b'2020-03-19_18:15:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        252.019928             251.772156
4                         58.899040              58.769257
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       9.202975               9.300904
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

                                                            \
time         b'2020-03-19_18:30:00' b'2020-03-19_18:45:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        251.524384             251.276611
4                         58.639469              58.509682
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       9.398833               9.496762
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

                                                            \
time         b'2020-03-19_19:00:00' b'2020-03-19_19:15:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        251.028839             250.781067
4                         58.379898              58.250114
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       9.594691               9.692620
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

                                                            \
time         b'2020-03-19_19:30:00' b'2020-03-19_19:45:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        250.533295             250.285522
4                         58.120327              57.990540
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       9.790550               9.888479
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

                                                            ...  \
time         b'2020-03-19_20:00:00' b'2020-03-19_20:15:00'  ...
stationIdInd                                                ...
0                    -999999.000000         -999999.000000  ...
1                    -999999.000000         -999999.000000  ...
2                    -999999.000000         -999999.000000  ...
3                        250.037750             249.789978  ...
4                         57.860756              57.730972  ...
...                             ...                    ...  ...
3864                 -999999.000000         -999999.000000  ...
3865                       9.986408              10.084337  ...
3866                 -999999.000000         -999999.000000  ...
3867                       0.000000               0.000000  ...
3868                 -999999.000000         -999999.000000  ...

                                                            \
time         b'2020-03-24_15:45:00' b'2020-03-24_16:00:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        206.429810             206.429810
4                         89.764404              89.764404
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       6.258023               6.258023
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

                                                            \
time         b'2020-03-24_16:15:00' b'2020-03-24_16:30:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        206.429810             206.429810
4                         89.764404              89.764404
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       6.258023               6.258023
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

                                                            \
time         b'2020-03-24_16:45:00' b'2020-03-24_17:00:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        206.429810             206.429810
4                         89.764404              89.764404
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       6.258023               6.258023
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

                                                            \
time         b'2020-03-24_17:15:00' b'2020-03-24_17:30:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        206.429810             206.429810
4                         89.764404              89.764404
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       6.258023               6.258023
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000


time         b'2020-03-24_17:45:00' b'2020-03-24_18:00:00'
stationIdInd
0                    -999999.000000         -999999.000000
1                    -999999.000000         -999999.000000
2                    -999999.000000         -999999.000000
3                        206.429810             206.429810
4                         89.764404              89.764404
...                             ...                    ...
3864                 -999999.000000         -999999.000000
3865                       6.258023               6.258023
3866                 -999999.000000         -999999.000000
3867                       0.000000               0.000000
3868                 -999999.000000         -999999.000000

[3869 rows x 481 columns]